@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

#floatdiv {
	position: fixed;
	left: 2.5%;
	top: 80%;
	width: 2px;
	height: 210px;
	transform: translateY(-50%);
	z-index: 9999990;
}

#floatdiv ul {
	list-style: none;
	border: 0;
	margin: 0;
	padding: 0;
}
#floatdiv ul li {
	position: relative;
	left: -4px;
}
#floatdiv ul li span {
	position: relative;
	margin-bottom: 40px;
	cursor: pointer;
	transform: rotate(90deg);
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #888888;
	transition: 0.4s;
}

#floatdiv ul li span a {
	position: absolute;
	left: 10px;
	top: -5px;
	width: 80px;
	text-align: center;
	padding: 0px 5px;
	color: #000000;
	font-family: 'Montserrat';
	font-size: 18px;
	opacity: 0;
	font-weight: bold;
	transition: all 0.4s;
      font-family: 'Black Han Sans', sans-serif;
}

#floatdiv ul li:hover span,
#floatdiv ul li.active span {
	display: block;
	background: #000000;
}
#floatdiv ul li:hover span a,
#floatdiv ul li.active span a{
	opacity: 1;
	color: #000000;
      padding: 0px 5px;
      position: absolute;
	left: 10px;
	top: -5px;
	width: 80px;
}